
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo */
body {
    
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    /* La imagen de fondo*/
    background-image: url('../img/img-login/2.jpeg');
    /* Reemplaza con la ruta a tu imagen */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* Asegura que la imagen cubra todo el fondo */
    position: relative;
    padding: 20px; /* Añade padding para evitar que el contenido toque los bordes en móviles */
}

/* estilo para el cuadro de eslogan */
.header-slogan {
        
    overflow: hidden;
    display: flex;
    /* Alinea el contenido en una columna */
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: fixed;
    /* Mantiene la posición fija aunque la página se desplace */
    top: 10px;
    /* Distancia desde la parte superior */
    right: 10px;
    /* Distancia desde la derecha */
    background-color: rgba(255, 255, 255, 0);
/* Fondo blanco semitransparente */
    padding: 10px;
    /* Relleno interior */
    height: 25%;
    width: 15%;
    border-radius: 5px 5px 5px 30px;
    /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Sombra para profundidad */
    z-index: 10; /* Asegura que esté por encima de otros elementos */
    text-align: center;
}


.slogan-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-slogan img {
    /* Mantiene la imagen responsive dentro del contenedor */
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 35px; 
    filter: drop-shadow(1px 1px 5px rgba(0, 105, 48, 0.682));
    margin-top: 10px; /* Espacio entre el texto y la imagen */
}

.header-slogan p {
    margin: 0;
    font-weight: bold;
    color: #ebebeb;
    font-size: 14px;
}

/* Contenedor principal del login */
.login-container {
    display: flex;
    margin-right: 40%;
    width: 500px;
    height: 550px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 150px 15px 150px 15px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

/* Sección del formulario (lado izquierdo) */
.form-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    width: 100%;
    height: 100%;
}

/* Caja del formulario */
.login-box {
    width: 100%;
    max-width: 350px;
    text-align: center;
}

/* Título del formulario */
.login-box h2 {
    margin-bottom: 30px;
    color: #333;
    font-size: 38px;
    font-weight: 700;
}

/* Grupo de campos de entrada */
.input-group {
    margin-bottom: 20px;
}

/* Estilo para los campos de entrada */
.input-group input {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    background-color: #f7f7f7;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

/* Efecto de foco para los campos de entrada */
.input-group input:focus {
    background-color: #ebebeb;
    box-shadow: 0 0 0 2px #4cadaf;
}

/* Estilo del botón de acceso */
button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #4c99af;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
          
}

/* Efecto de hover en el botón */
button:hover {
    background-color: #2b8ca8;
    transform: scale(2, 0.5);
        -webkit-transform: scale(1, 1.2);
        -moz-transform: scale(1, 1.2);
          
}



/* Estilos para móviles y dispositivos con pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
    body {
        
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }

    
    
    .header-slogan {
        position: static;
        
        width: 80%;
        height: auto;
        margin: 20px auto;
        border-radius: 5px;
    }
    
    

    .login-container {
        width: 90%;
        height: auto;
        margin: 0 auto;
        border-radius: 15px;
    }

    .form-section {
        padding: 20px;
    }

    .login-box h2 {
        font-size: 30px;
    }
}

